<!-- templates/about.html -->
{% extends 'base.html' %}

{% block content %}
    <style>
        .card {
            background-color: #1c1c1c;
            color: #e0e0e0;
            border: none;
            border-radius: 10px;
            margin-bottom: 2rem;
        }

    </style>
    <div class="text-center mb-4">
        <h3 class="display-4">About the project</h3>
        <p class="lead">Just a bit more stuff</p>
    </div>
    <div class="card p-4">

        <p>I started this project after finding out that online there were no calculators for Dark Souls III, searching
            on Reddit I found this <a
                    href="https://www.reddit.com/r/darksouls/comments/4h0t10/is_there_a_soul_level_calculator/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button">ancient
                post</a> and created a tiny python script that has been used as the base for this website.</p>
        <p>Our team is pretty small, because it's only me: a passionate gamer, a software developer and Computer
            Engineering student; currently based in Vilnius, Lithuania.</p>
        <p>If you have any questions, suggestions, or just want to chat about the games, feel free to reach out to me
            through the contact information below:</p>
        <ul>
            <li>Email: <a href="mailto:alex.volpe98@protonmail.com">alex.volpe98@protonmail.com</a></li>
            <li>GitHub: <a href="https://github.com/AlessVolpe">GitHub Profile</a></li>
        </ul>
        <p>For anything work related, you can reach me at this <a
                href="https://www.linkedin.com/in/alessandro-volpe-00795218a/">LinkedIn Profile</a></p>
    </div>

{% endblock %}
